body{
    margin: 0%;
    font-family: sans-serif;
}

#todo-container{
    width: 40%;
    margin: auto;
    justify-content: center;
    /* border: 2px solid black; */
    background-color: rgba(115, 238, 221, 0.082);
}

#todo-heading{
    width: 100%;
    text-align: center;
    color: rgb(156, 13, 13);
}

#todo-input{
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
}
.todo-input-container{
    padding: 10px;
    width: 100%;
    margin: auto;
}
#descriptionField {
    width: 29vw;
    font-family: inherit;
    font-size: 1.1rem;
    line-height: inherit;
}
#categoryField,#due-date-field{
    width: 12.1vw;
    font-family: inherit;
    font-size: 1.1rem;
    line-height: inherit;
}

#add-task-button{
    text-align: center;
}

#add-btn{
    font-family: inherit;
    font-size: 1.1rem;
    line-height: inherit;
    color: white;
    background-color: rgb(41, 33, 33);
    width: 20%;
    height: auto;
}

#delete-task-btn{
    font-family: inherit;
    line-height: inherit;
    color: white;
    background-color: rgb(218, 16, 16);
    width: 20%;
    height: auto;
}
